#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }

  #drop-area.highlight {
    border-color: purple;
  }

  p {
    margin-top: 0;
  }

  .my-form {
    margin-bottom: 10px;
  }

  #gallery {
    margin-top: 10px;
  }

  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .button.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  .button:hover {
    background: #ddd;
  }
  
  #fileElem {
    display: none;
  }

  progress {
    width: 100%;
    height: 30px;
  }
  
  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    color: greenyellow;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
  }

  #errorMessages {
    color: red;
  }
  

  #filesUploadedEl {
    display: flex;
    flex-direction: column;
  }

  #filesUploadedEl .file {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
  }

  #filesUploadedEl .file .delete {
    background-color: red;
    padding: 10px;
    flex: 0 0 auto;
    cursor: pointer;
  }

  #filesUploadedEl .file .delete img {
    width: 20px;
  }